body{
    background-color: #fffbf7;
}
h1{
    text-align: center;
}
p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
    text-align: justify;
}
strong, label{
    color: #46484c;
}
button{
    color: #fff;
    background-color: #025157;
    font-family: Verdana;

}