*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffbf7;
}
h1{
    text-align: center;
}
p{
    color: #8b8b8bcc;
    /*font-family: Verdana;*/
    font-size: 20px;
}
strong, label{
    color: #46484c;
}
button{
    color: #fff;
    background-color: #025157;
    font-family: Verdana;

}

.header{
    margin: 40px 20px;
    font-size: 0;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
a{
    color: #025157;
}
ul{
    text-align: center;
}
li{
    display: inline;
    font-family: sans-serif;
    margin: 0 25px;
}
.logo {
    width: 15%;
    text-align: center;
}
.logo > img {
width: 35%;
}

.navbar {
width: 68%;
text-align: left;
color: #025157;
font-weight: 500;
height: 45px;
}

.actions {
width: 15%;
text-align: left;
font-size: 14px;
font-weight: 600;
margin: 0 10px;
}

.actions > a{
color: #67b54b;
}
.actions button{
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

.main {
margin-top: 285px;
text-align: center;
font-family: 'Kdam Thmor Pro', sans-serif;
}

.publish > h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #025157;
}

.publish > p{
    color: #343434;
}

.publish form p{
    color: #025157;
} 

.publish{
    text-align: justify;
    margin: 0 0 0 40px;
}

.publish-container{
    display: flex;
    width: 70%;
    margin: 80px auto;
    align-items: center;
}
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container img{
    width: 20px;
    margin-top: 5px;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}